<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript">
		function showdata(a)
         {
         	var xmlhttp = new XMLHttpRequest();
         	xmlhttp.onreadystatechange=function()
         	{
      document.getElementById("res").innerHTML = xmlhttp.responseText;
         	}
         	xmlhttp.open("get","searchstu?q="+a,true);
         	xmlhttp.send();
         }
	</script>
</head>
<body>
<br><br>	
<input type="text" name="txtstu" onkeyup="showdata(this.value)" placeholder="TYPE TO SEARCH STUDENT" style="width:300px;" />

<div id="res"></div>
</body>
</html>